<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <style>
        body {
            background-image: url(https://i.imgur.com/4NehfUU.png);
            background-color: white;
            text-align: center;
            color: black;
            background-repeat: no-repeat;
            background-size: fixed;
            background-position: center center;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>   

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
              <form action="/stars" method="POST">
                <fieldset>
                    <legend>Add a New Star</legend>

                    <label>
                        NAME: <input type="text" name="name" placeholder="enter a stars name" />
                    </label>
                    <label>
                        AGE: <input type="text" name="age" placeholder="enter age" />
                    </label>      
                    <label>
                        DECEASED: <input type="checkbox" name="deceased" />
                    </label>    
                </fieldset>
                <input type= "text"  name = "img" value="<%= star.img %> " required />
                <input type="submit" value="Add a new Star" />
              </form>        

            </div>
        </main>
    </body>
</html>