body {
    background-color: black;
    text-align: center;
    color: black;
    background-image: url(https://i.imgur.com/Y8zOm0x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    

}

h1 {
    text-align: center;
    color: white;
    font-style:italic;
    font-weight: 1000;
}
h2 {
    color: whitesmoke;
    font-style:italic;
    /* font-weight: 1000; */
}
h3 {
    color: wheat;
    
}